@import "@/styles/functions";

.default {
  $em: 14;
  font-size: px-to-rem($em);
  font-weight: 500;
  padding: px-to-em(14, $em) px-to-em(48, $em);
  color: var(--color-gray-500);
  transition-property: color, background;
  transition-duration: 300ms;
  transition-timing-function: ease;
  white-space: nowrap;
  text-transform: capitalize;
  display: block;

  &:hover {
    background-color: var(--color-gray-50);
  }

  @media (max-width: 1024px) {
    padding: 1em;
  }

  &[aria-current] {
    background-color: var(--color-gray-50);
    color: var(--color-orange-500);
  }
}
