@import "@/styles/functions";

.default {
  font-size: px-to-rem(14);
  font-weight: 500;
  padding: px-to-em(14, 14) px-to-em(48, 14);
  color: var(--color-gray-500);
  transition-property: color, background;
  transition-duration: 300ms;
  transition-timing-function: ease;
  white-space: nowrap;

  &:hover {
    background-color: var(--color-gray-50);
  }

  @media (max-width: 1024px) {
    padding: 1em;
  }
}

.active {
  background-color: var(--color-gray-50);
  color: var(--color-orange-500);
}
